apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seq-pvc
  namespace: store
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath